.footer__column-link {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  transition: .5s linear;
}
.footer__column-link:hover { /*ссылка при наведении становится плавно прозрачной*/
  opacity: .5;
}
