.section-title {
  margin: 0 auto; /*если модификатор не нужен как сбросить margin... (обнулить допускается!)*/
  max-width: 60%;
  /*display: flex; заметка#2 возможно сюда нужно добавить св-во чтобы ширина текста была по содежимому, к вопросу про ширину 80%?!*/
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
