.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  min-height: 430px; /*без заданой высоты, блок рушится, видео вылезает за границы*/
  position: relative;
}
