.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  color: #000000;
  position: relative;
  overflow: hidden; /*добавил чтобы квадрат при повороте не переполнял родительский блок*/
  /* выше установили ограничения для секции */
}
