.video__iframe {
  margin-right: 20px;
  width: 515px;
  height: 316px;
  border: none;
}
.video__iframe:nth-of-type(2n) {
  margin-right: 0;
}
/*св-во не убирает правый отступ у второго видео, но если придумать доп. класс для эл-там Li, и там прописать данное св-во, - то сработает. Есть данное понимание*/
