.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px; /*с размером шрифта 25px становится как в брифе, если не использовать перенос br*/
  font-weight: normal;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
