.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh; /*без этого значения квадрат уезжает вниз*/
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  color: #000000;
  position: relative;
  /* выше установили ограничения для секции */
}
.logo {
}
/*по брифу отступы для блока задаются в модификаторе, тогда какие стили задаются в logo? */
.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 6;
}
.header__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  width: 730px;
  z-index: 5;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 4;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  /*box-sizing: border-box;*/
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
  background-color: #2f80ed;
}

.content {
  position: relative;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: #000000;
  position: relative;
}
/*"Используйте min-height с осторожностью", но значения нет?!*/
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  margin-top: 0;
  margin-bottom: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:first-of-type {
  margin-top: 0;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-of-type {
  margin-top: 30px;
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000000;
  position: relative;
}
.section-title {
  /*width: 60%;*/
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-title_type_title {
  margin: 0;
  width: 60%;
}
.section-subtitle {
  /*width: 60%;*/
  /*padding-top: 20px;*/
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.section-subtitle_type_subtitle {
  /*margin: 0;*/
  margin: 20px 0 0 0;
  width: 60%;
}
.table {
  /*width: 1100px;*/
  padding-top: 60px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table_type_table {
  width: 1100px;
}
.table__cell {
  margin: 0;
  width: 250px;
}
.table__cell:nth-of-type(4n) {
  margin-right: 0;
}
.table__cell:nth-child(-n+4) { /*отступы снизу для первых 4-х ячеек, получилось сделать так, мы не проходили, но честно нагуглил*/
  margin-bottom: 60px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 790px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2;
  color: #000000;
  position: relative;
}
.feynman__title {
  margin: 0;
  width: 648px;
  display: flex;
  align-self: center;
  text-align: center;
  position: relative;
  z-index: 4;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 70px 0 0 0;
  display: flex;
  align-self: center;
  position: relative;
  z-index: 3;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
}
.feynman__link_type_link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
.section-title_theme_dark {
  margin: 0 auto;
  width: 60%;
}
.section-subtitle_theme_dark {
  margin: 20px auto 0 auto;
  width: 60%;
}
.table_theme_dark {
  margin: 0 auto;
  padding-top: 80px;
  width: 1100px;
  position: relative;
  z-index: 3;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
}
.table__cell_theme_dark:nth-child(-n+5) {
  margin-bottom: 80px;
}
.kaufman__triangle {
  width: 877px;
	height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 2;
}

.footer {
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: #ffffff;
  position: relative;
}
.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  margin: 0;
  width: 183px;
  height: 35px;
  background: url('../images/logo_place_footer.svg') no-repeat;
  background-size: cover;
}
.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  padding-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
}
.footer__column-link_type_link {
  text-decoration: none;
  color: #ffffff;
}
.footer__column-link {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
}
.footer__social-icon {
  margin: 0;
  width: 16px;
  height: 16px;
}
